/* Style for the Customer List container */
div {
  margin: 20px;
}

/* Style for the Customer List heading */
h2 {
  color: #e6e1e1;
}

/* Style for the Customer List table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

/* Style for the table header row */
thead th {
  background-color: #5c5858;
  text-align: left;
  padding: 8px;
}

/* Style for the table data rows */
tbody td {
  border: 1px solid #413f3f;
  padding: 8px;
}

/* Alternate row background color for better readability */
tbody tr:nth-child(even) {
  background-color: #878686;
}
